<% title "Users" %>

<table>
  <tr>
    <th>Name</th>
    <th>goliardic_name</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%=user_link user %></td>
      <td><%=goliardic_link user %></td>
      <td><%#=h user.tags %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New User", new_user_path %></p>
